@using Nubetico.Frontend.Components.Shared
@inherits NbBaseComponent

@inject IStringLocalizer<SharedResources> Localizer

<RadzenPanel>
	<HeaderTemplate>
		<RadzenText TextStyle="TextStyle.H6" class="rz-display-flex rz-align-items-center rz-m-0">
			<RadzenIcon Icon=@("\ue283") IconColor="@Colors.Primary" class="rz-me-2 fa-light" />
			<b>@Localizer["Lots.Text.General"]</b>
		</RadzenText>
	</HeaderTemplate>
	<ChildContent>
		<RadzenCard class="rz-mt-4">
			<RadzenStack>
				<RadzenRow Wrap="FlexWrap.Wrap">
					<RadzenColumn Size="3" SizeSM="3" SizeXS="6" Style="width: 100%; min-width: 50px">
						<RadzenFormField Text="@Localizer["Shared.Textos.Folio"]" Style="width: 100%">
							<RadzenTextBox Disabled="true"
										   @bind-Value="@ProveedorData.Folio" />
						</RadzenFormField>
					</RadzenColumn>
					<RadzenColumn Size="3" SizeSM="3" SizeXS="6" Style="width: 100%; min-width: 50px">
						<RadzenFormField Text="Tipo" Style="width: 100%">
							<ChildContent>
								<RadzenDropDown Disabled="@GetDisabled()"
												@bind-Value="@ProveedorData.IdTipoProveedor"
												Data="@LstTipo"
												TextProperty="Descripcion"
												ValueProperty="ID"
												Placeholder="Seleccione Tipo"
												Style="width: 100%"
												Name="TipoProveedor" />
							</ChildContent>
							<Helper>
								@if (FormValidationErrors.TryGetValue("IdTipoProveedor", out var errorMessages))
								{
									<RadzenLabel class="rz-color-danger" Text="@errorMessages[0]" />
								}
							</Helper>
						</RadzenFormField>
						<RadzenRequiredValidator Component="TipoProveedor" Text="@Localizer!["Supply.Text.CodeRequired"]" Style="color: red" />
					</RadzenColumn>
					<RadzenColumn Size="2" SizeSM="2" SizeXS="6" Style="width: 100%; min-width: 50px; display: flex; align-items: center;">
						<RadzenRadioButtonList TValue="int" @bind-Value="ProveedorData.IdTipoPersonaSat"
											   Name="IdTipoPersonaSAT" Disabled="@GetDisabled()">
							<Items>
								<RadzenRadioButtonListItem Text="Física" Value="1" />
								<RadzenRadioButtonListItem Text="Moral" Value="2" />
							</Items>
						</RadzenRadioButtonList>
						<RadzenRequiredValidator Component="Code" Text="@Localizer!["Supply.Text.CodeRequired"]" Style="color: red" />
						@if (FormValidationErrors.TryGetValue("IdTipoPersonaSAT", out var errorMessagesTipoPersona))
						{
							<RadzenLabel class="rz-color-danger" Text="@errorMessagesTipoPersona[0]" Style="display: block; margin-top: 4px;" />
						}
					</RadzenColumn>
					<RadzenColumn Size="2" SizeSM="2" SizeXS="6" Style="width: 100%; min-width: 50px; display: flex; align-items: center;">
						<RadzenRadioButtonList TValue="int" Disabled="@GetDisabled()">
							<Items>
								<RadzenRadioButtonListItem Text="Nacional" Value="1" />
								<RadzenRadioButtonListItem Text="Extranjero" Value="2" />
							</Items>
						</RadzenRadioButtonList>
					</RadzenColumn>
					<RadzenColumn Size="2" SizeSM="2" SizeXS="6" Style="width: 100%; min-width: 50px">
						<div class="rz-mt-4 rz-align-items-start">
							<RadzenCheckBox Disabled="@GetDisabled()"
											@bind-Value="@ProveedorData.Habilitado"
											Name="CheckBoxHabilitado" />
							<RadzenLabel Text="Habilitado" Component="CheckBoxHabilitado" class="rz-ms-1" />
						</div>

					</RadzenColumn>
				</RadzenRow>

				<RadzenRow Wrap="FlexWrap.Wrap">
					<RadzenColumn Size="2" SizeSM="2" SizeXS="6" Style="width: 100%; min-width: 50px">
						<RadzenFormField Text="@Localizer["Core.ProyectosConstruccion.RFC"]" Style="width: 100%">
							<ChildContent>
								<RadzenTextBox Disabled="@GetDisabled()"
											   @bind-Value="@ProveedorData.Rfc"
											   MaxLength="13"
											   Name="Rfc" />
							</ChildContent>
							<Helper>
								@if (FormValidationErrors.TryGetValue("RFC", out var errorMessages))
								{
									<RadzenLabel class="rz-color-danger" Text="@errorMessages[0]" />
								}
							</Helper>
						</RadzenFormField>

					</RadzenColumn>
					<RadzenColumn Size="4" SizeSM="4" SizeXS="6" Style="width: 100%; min-width: 50px">
						<RadzenFormField Text="Nombre comercial" Style="width: 100%">
							<ChildContent>
								<RadzenTextBox Disabled="@GetDisabled()"
											   MaxLength="25"
											   @bind-Value="@ProveedorData.NombreComercial" />
							</ChildContent>
							<Helper>
								@if (FormValidationErrors.TryGetValue("NombreComercial", out var errorMessages))
								{
									<RadzenLabel class="rz-color-danger" Text="@errorMessages[0]" />
								}
							</Helper>
						</RadzenFormField>
					</RadzenColumn>
					<RadzenColumn Size="4" SizeSM="4" SizeXS="6" Style="width: 100%; min-width: 50px">
						<RadzenFormField Text="Razon social" Style="width: 100%">
							<ChildContent>
								<RadzenTextBox Disabled="@GetDisabled()"
											   @bind-Value="@ProveedorData.RazonSocial" />
							</ChildContent>
							<Helper>
								@if (FormValidationErrors.TryGetValue("RazónSocial", out var errorMessages))
								{
									<RadzenLabel class="rz-color-danger" Text="@errorMessages[0]" />
								}
							</Helper>
						</RadzenFormField>
					</RadzenColumn>
					<RadzenColumn Size="2" SizeSM="2" SizeXS="6" Style="width: 100%; min-width: 50px">
						<RadzenFormField Text="Tipo de régimen fiscal" Style="width: 100%">
							<ChildContent>
								<RadzenDropDown Disabled="@GetDisabled()"
												@bind-Value="@ProveedorData.IdTipoRegimenFiscal"
												Data="@LstTipoRegimenesFiscales"
												TextProperty="Descripcion"
												ValueProperty="ID"
												Placeholder="Seleccione tipo de régimen"
												Style="width: 100%" />
							</ChildContent>
							<Helper>
								@if (FormValidationErrors.TryGetValue("IdTipoRegimenFiscal", out var errorMessages))
								{
									<RadzenLabel class="rz-color-danger" Text="@errorMessages[0]" />
								}
							</Helper>
						</RadzenFormField>

					</RadzenColumn>
				</RadzenRow>

				<RadzenRow Wrap="FlexWrap.Wrap">
					<RadzenColumn Size="2" SizeSM="2" SizeXS="6" Style="width: 100%; min-width: 50px">
						<RadzenFormField Text="Régimen fiscal" Style="width: 100%">
							<ChildContent>
								<RadzenDropDown Disabled="@GetDisabled()"
												@bind-Value="@ProveedorData.IdRegimenFiscal"
												Data="@LstRegimenesFiscales"
												TextProperty="Descripcion"
												ValueProperty="ID"
												Style="width: 100%"
												Placeholder="Seleccione un régimen fiscal" />
							</ChildContent>
							<Helper>
								@if (FormValidationErrors.TryGetValue("IdRegimenFiscal", out var errorMessages))
								{
									<RadzenLabel class="rz-color-danger" Text="@errorMessages[0]" />
								}
							</Helper>
						</RadzenFormField>
					</RadzenColumn>
					<RadzenColumn Size="2" SizeSM="2" SizeXS="6" Style="width: 100%; min-width: 50px">
						<RadzenFormField Text="Método de pago" Style="width: 100%">
							<ChildContent>
								<RadzenDropDown Disabled="@GetDisabled()"
												@bind-Value="@ProveedorData.IdTipoMetodoPago"
												Data="@LstTipoMetodoPago"
												TextProperty="Descripcion"
												ValueProperty="ID"
												Placeholder="Seleccione método de pago"
												Style="width: 100%" />
							</ChildContent>
							<Helper>
								@if (FormValidationErrors.TryGetValue("IdTipoMetodoPago", out var errorMessages))
								{
									<RadzenLabel class="rz-color-danger" Text="@errorMessages[0]" />
								}
							</Helper>
						</RadzenFormField>

					</RadzenColumn>

					<RadzenColumn Size="2" SizeSM="2" SizeXS="6" Style="width: 100%; min-width: 50px">
						<RadzenFormField Text="Uso del CFDI" Style="width: 100%">
							<ChildContent>
								<RadzenDropDown Disabled="@GetDisabled()"
												@bind-Value="@ProveedorData.IdUsoCFDI"
												Data="@LstUsoCFDI"
												TextProperty="Descripcion"
												ValueProperty="ID"
												Placeholder="Seleccione uso del CFDI"
												Style="width: 100%" />
							</ChildContent>
							<Helper>
								@if (FormValidationErrors.TryGetValue("IdUsoCFDI", out var errorMessages))
								{
									<RadzenLabel class="rz-color-danger" Text="@errorMessages[0]" />
								}
							</Helper>
						</RadzenFormField>
					</RadzenColumn>

					<RadzenColumn SizeSM="3" SizeXS="6" Style="width: 100%; min-width: 50px">
						<RadzenFormField Text="Cuenta contable" Style="width: 100%">
							<ChildContent>
								<RadzenTextBox Disabled="@GetDisabled()"
											   @bind-Value="@ProveedorData.CuentaContable" />

							</ChildContent>
						</RadzenFormField>
					</RadzenColumn>
					<RadzenColumn SizeSM="3" SizeXS="6" Style="width: 100%; min-width: 50px">
						<RadzenFormField Text="Forma de pago" Style="width: 100%">
							<ChildContent>
								<RadzenDropDown Disabled="@GetDisabled()"
												@bind-Value="@ProveedorData.IdFormaPago"
												Data="@LstTipoFormaPago"
												TextProperty="Descripcion"
												ValueProperty="ID"
												Placeholder="Seleccione forma de pago"
												Style="width: 100%" />
							</ChildContent>
							<Helper>
								@if (FormValidationErrors.TryGetValue("IdFormaPago", out var errorMessages))
								{
									<RadzenLabel class="rz-color-danger" Text="@errorMessages[0]" />
								}
							</Helper>
						</RadzenFormField>

					</RadzenColumn>
				</RadzenRow>



				<RadzenRow Wrap="FlexWrap.Wrap">
					<RadzenColumn SizeSM="3" SizeXS="6" Style="width: 100%; min-width: 50px">
						<RadzenFormField Text="Web" Style="width: 100%">
							<RadzenTextBox Disabled="@GetDisabled()"
										   @bind-Value="@ProveedorData.Web" />
						</RadzenFormField>
					</RadzenColumn>
					<RadzenColumn SizeSM="3" SizeXS="6" Style="width: 100%; min-width: 50px">
						<RadzenFormField Text="Correo" Style="width: 100%">
							<ChildContent>
								<RadzenTextBox Disabled="@GetDisabled()"
											   @bind-Value="@ProveedorData.Email" />
							</ChildContent>
							<Helper>
								@if (FormValidationErrors.TryGetValue("Email", out var errorMessages))
								{
									<RadzenLabel class="rz-color-danger" Text="@errorMessages[0]" />
								}
							</Helper>
						</RadzenFormField>
					</RadzenColumn>
					<RadzenColumn SizeSM="3" SizeXS="6" Style="width: 100%; min-width: 50px">
						<RadzenFormField Text="Teléfono" Style="width: 100%">
							<ChildContent>
								<RadzenMask Mask="(***) ***-****" CharacterPattern="[0-9]"
											Placeholder="(000) 000-0000"
											Name="Teléfono"
											Style="width: 100%;"
											aria-label="Phone"
											Disabled="@GetDisabled()"
											@bind-Value="@ProveedorData.Telefono" />
							</ChildContent>
							<Helper>
								@if (FormValidationErrors.TryGetValue("Telefono", out var errorMessages))
								{
									<RadzenLabel class="rz-color-danger" Text="@errorMessages[0]" />
								}
							</Helper>
						</RadzenFormField>
					</RadzenColumn>
					<RadzenColumn SizeSM="3" SizeXS="6" Style="width: 100%; min-width: 50px">
						<RadzenFormField Text="Celular" Style="width: 100%">
							<RadzenMask Mask="(***) ***-****"
										CharacterPattern="[0-9]"
										Placeholder="(000) 000-0000"
										Name="Celular"
										Style="width: 100%;"
										aria-label="Phone"
										Disabled="@GetDisabled()"
										@bind-Value="@ProveedorData.Celular" />
						</RadzenFormField>
					</RadzenColumn>

				</RadzenRow>

			</RadzenStack>
		</RadzenCard>
	</ChildContent>
</RadzenPanel>

<RadzenPanel>
	<HeaderTemplate>
		<RadzenText TextStyle="TextStyle.H6" class="rz-display-flex rz-align-items-center rz-m-0">
			<RadzenIcon IconColor="@Colors.Primary" class="rz-me-2" />
			<b>Crédito</b>
		</RadzenText>
	</HeaderTemplate>
	<ChildContent>
		<RadzenCard class="rz-mt-4">
			<RadzenStack>

				<RadzenRow Wrap="FlexWrap.Wrap">
					<RadzenColumn Size="2" SizeSM="2" SizeXS="6" Style="width: 100%; min-width: 50px">
						<RadzenFormField Text="Crédito en pesos" Style="width: 100%">
							<RadzenNumeric Disabled="@(GetDisabled() || !IsCreditEnabled)"
										   @bind-Value="@ProveedorData.LimiteCreditoMXN" />
						</RadzenFormField>
					</RadzenColumn>
					<RadzenColumn Size="2" SizeSM="2" SizeXS="6" Style="width: 100%; min-width: 50px">
						<RadzenFormField Text="Crédito en dólares" Style="width: 100%">
							<RadzenNumeric Disabled="@(GetDisabled() || !IsCreditEnabled)"
										   @bind-Value="@ProveedorData.LimiteCreditoUSD" />
						</RadzenFormField>
					</RadzenColumn>
					<RadzenColumn Size="2" SizeSM="2" SizeXS="6" Style="width: 100%; min-width: 50px">
						<RadzenFormField Text="Dias crédito" Style="width: 100%">
							<RadzenNumeric Disabled="@(GetDisabled() || !IsCreditEnabled)"
										   @bind-Value="@ProveedorData.DiasCredito" />
						</RadzenFormField>
					</RadzenColumn>
					<RadzenColumn Size="2" SizeSM="2" SizeXS="6" Style="width: 100%; min-width: 50px">
						<RadzenFormField Text="Dias gracia" Style="width: 100%">
							<RadzenNumeric Disabled="@(GetDisabled() || !IsCreditEnabled)"
										   @bind-Value="@ProveedorData.DiasGracia" />
						</RadzenFormField>
					</RadzenColumn>
					<RadzenColumn Size="2" SizeSM="2" SizeXS="6" Style="width: 100%; min-width: 50px">
						<RadzenFormField Text="Saldo en pesos" Style="width: 100%">
							<RadzenNumeric Disabled="@(GetDisabled() || !IsCreditEnabled)"
										   @bind-Value="@ProveedorData.SaldoMXN" />
						</RadzenFormField>
					</RadzenColumn>
					<RadzenColumn Size="2" SizeSM="2" SizeXS="6" Style="width: 100%; min-width: 50px">
						<RadzenFormField Text="Saldo en dólares" Style="width: 100%">
							<RadzenNumeric Disabled="@(GetDisabled() || !IsCreditEnabled)"
										   @bind-Value="@ProveedorData.SaldoUSD" />
						</RadzenFormField>
					</RadzenColumn>
				</RadzenRow>

				<RadzenRow Wrap="FlexWrap.Wrap">
					<RadzenColumn Size="4" SizeSM="4" SizeXS="6" Style="width: 100%; min-width: 50px">
						<RadzenFormField Text="Referencia Bancaria" Style="width: 100%">
							<RadzenTextBox Disabled="@(GetDisabled() || !IsCreditEnabled)" Value=" " />
						</RadzenFormField>
					</RadzenColumn>
					<RadzenColumn Size="3" SizeSM="3" SizeXS="6" Style="width: 100%; min-width: 50px">
						<div class="rz-mt-4 rz-align-items-start">
							<RadzenCheckBox @bind-Value=@ProveedorData.Credito Name="TieneCredito" Disabled="@GetDisabled()" />
							<RadzenLabel Text="Tiene crédito"
										 Component="TieneCredito" class="rz-ms-2" />
						</div>
					</RadzenColumn>
				</RadzenRow>

			</RadzenStack>
		</RadzenCard>
	</ChildContent>
</RadzenPanel>

