@using Nubetico.Frontend.Components.Shared;
@using Nubetico.Frontend.Services.PortalClientes;
@using Nubetico.Shared.Dto.PortalClientes;
@using Nubetico.Frontend.Services.Core;
@using Radzen.Blazor;
@inherits NbBaseComponent
@inject ClientInvoicesService invoicesService;
@inject IStringLocalizer<SharedResources> localizer
@inject NotificationService NotificationService
@inject DialogService DialogService
@inject DocumentsService documentsService
@inject TooltipService tooltipService
@inject IJSRuntime JS

@* ******************************************************************************************************************* *@
@* Encabezado *@
@* ******************************************************************************************************************* *@
<RadzenText class="rz-mb-5" TextStyle="TextStyle.H5">Facturas</RadzenText>

<RadzenCard class="rz-my-6">
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap">
        <RadzenStack Orientation="Orientation.Vertical" Gap="4px">
            Folio
            <RadzenTextBox Placeholder="Ingrese Folio"
                           Change="@(() => OnValueChange())"
                           @bind-Value="@Filter.Folio"
                           type="search" />
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Vertical" Gap="4px">
            Fecha Inicial
            <RadzenDatePicker TValue="DateTime?" ShowTime="false" HourFormat="24" DateFormat="dd/MM/yyyy" Min="DateTime.Today.AddYears(-10)" Max="DateTime.Today.AddDays(7)" Change="@(() => OnValueChange())" Name="RadzenDatePickerChangeEvent" @bind-Value="@Filter.DateFrom" />
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Vertical" Gap="4px">
            Fecha Final
            <RadzenDatePicker TValue="DateTime?" ShowTime="false" HourFormat="24" DateFormat="dd/MM/yyyy" Min="DateTime.Today.AddYears(-10)" Max="DateTime.Today.AddDays(7)" Change="@(() => OnValueChange())" Name="RadzenDatePickerChangeEvent" @bind-Value="@Filter.DateTo"/>
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Vertical" Gap="4px">
            Tipo de CFDI
            <RadzenDropDown Data="@TypeList()" Size="ButtonSize.Small" @bind-Value="@Filter.Type" />
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Vertical" Gap="4px">
            Estatus
            <RadzenDropDown Data="@StatusList()" Size="ButtonSize.Small" @bind-Value="@Filter.Status" />
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Vertical" Gap="4px">
            <div>&nbsp;</div>
            <RadzenButton Click=@(() => OnValueChange()) Text="Buscar" Icon="search" ButtonStyle="ButtonStyle.Primary" />
        </RadzenStack>
    </RadzenStack>
</RadzenCard>

@* ******************************************************************************************************************* *@
@* Grid para el listado de facturas *@
@* ******************************************************************************************************************* *@

@* LoadData="@LoadData" *@
<RadzenDataGrid @ref="InvoicesGrid"
                AllowFiltering="false"
                AllowPaging="true"
                AllowSorting="true"
                Count="@Count"
                Data="@Invoices"
                EmptyText="No se encontraron registros con los filtros seleccionados"
                IsLoading=@IsLoading
                LoadData="@LoadData"
                PageSize="20"
                PagerHorizontalAlign="HorizontalAlign.Center"
                RowDoubleClick="@DataGridRowDoubleClick"
                SelectionMode="DataGridSelectionMode.Single"
                ShowPagingSummary="true"
                TItem="ExternalClientInvoices"
                ColumnWidth="200px"
                @bind-Value=@SelectedInvoices>

    <Columns>
        <RadzenDataGridColumn Property="Folio" Title="Folio" TextAlign="TextAlign.Center" Width="150px">
            <FooterTemplate>
                <b>@($"Total de Registros: {Count}")</b>
            </FooterTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="InvoiceType" Title="Tipo" TextAlign="TextAlign.Center" Width="80px" />
        <RadzenDataGridColumn Property="Date" Title="Fecha" TextAlign="TextAlign.Center" Width="110px" FormatString="{0:dd/MM/yyyy}" />
        <RadzenDataGridColumn Property="BusinessName" Title="Razón Social" TextAlign="TextAlign.Center" Width="150px" />
        <RadzenDataGridColumn Property="Total" Title="Total" FormatString="{0:C}" TextAlign="TextAlign.Center" Width="120px">
            <FooterTemplate>
                <b>@($"Total: {TotalSum.ToString("C")}")</b>
            </FooterTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="Balance" Title="Saldo" FormatString="{0:C}" TextAlign="TextAlign.Center" Width="120px">
            <FooterTemplate>
                <b>@($"Total: {BalanceSum.ToString("C")}")</b>
            </FooterTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="Status" Title="Estatus" TextAlign="TextAlign.Center" Width="90px">
            <Template Context="data">
                <RadzenBadge BadgeStyle="@(GetBadgeColor(data.Status))" Text="@data.Status" Style="text-transform: none;" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="" Title="PDF" TextAlign="TextAlign.Center" Width="50px">
            <Template Context="data">
                <RadzenButton Icon="download"
                              Size="ButtonSize.Small"
                              ButtonStyle="ButtonStyle.Primary"
                              Click="@(() => DownloadInvoiceZIP(data))"
                              Style="margin-right: 4px"
                              MouseEnter="@(args => ShowTooltip(args, new TooltipOptions(){Position = TooltipPosition.Top}))" />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

